<!DOCTYPE html>
<html>
  <head>
    <title>Birthday Theme</title>
	<link rel = "stylesheet" type = "text/css" href = "stylesheets/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
		<body>

				<div class="nav">
				<a class="active"><a href=/ class="text-uppercase font-weight-bold">Home</a>
				<a href= "gallery">Gallery</a>
				<a href="services">Services</a>
				<a href="booknow">Booking</a>
				<a href="login">Login</a>
				<a href="contactus">Contact Us</a>
				</div>
                <br>
                <br>
                <br><br>
                
                <div class="theme">
	            <h2 style="text-align:center" >Birthday Themes</h2>
                <br>
                <p2>When it comes to birthday theme preparations, it can be a daunting task but here at Top Event Managers we are here to take those stress
                feeling away and showcase our birthday themes set up that will sure to get you beaming with sheer excitement. Our professional team
                will turn your place into a fun electric environment. We take birthdays, gender reveal, and anniversaries very seriously, lets take your
                vision and bring it to the next level for your place.</p2>

            <div class="row">
                <div class="columns1">
                    <ul class="price">
                    <li class="header">Theme 01</li>
                    <li class="grey">$60.00</li>
                    <h4 style="text-align:center">Animal Theme</h4>
                    Animal Theme<br>
                    <br>
                    An adventurous theme consisting of cartoon tropical palm tree stands, vibrant tropical colour party curtains, tropical colour balloons to 
                    resemble island coconuts and long decorated table filled with stuff animal toys, animal food utensils and animal food goodies to set the mood for an animal style birthday.
                    </ul>
                    <br>
                    <img src="images/animal.jpg" alt="Code-01" width="60%" height="63.1%">  
                    
                    </div>

                <div class="columns1">
                     <ul class="price">
                    <li class="header">Theme 02</li>
                    <li class="grey">$50.00</li>
                    <h4 style="text-align:center">Alternative Animal Theme</h4>
                    Alternative Animal Theme<br>
                    <br>
                    An animal theme style with cool wild animal cardboard statues, realistic tree structures, beautiful safari
                    theme balloons, fancy wall panel showing the birthday recipient's name and decorative plants creating a safari style birthday 
                    that is pleasant to the eye for any wild safari animal lover.<br>
                    </ul>
                    <img src="images/alternativea.jpg" alt="Code-01" width="60%" height="65.2%">
                    </div>

                <div class="columns1">
                    <ul class="price">
                   <li class="header">Theme 03</li>
                   <li class="grey">$70.00</li>
                   <h4 style="text-align:center">Farm Bird Theme</h4>
                   Farm Bird Theme<br>
                   <br>
                   Have fun with the farm birds, in this unique birthday theme that includes an appealing farm animal wall poster, 
                   garden plants, fragrant colour flower ornaments, mini flower ornaments, long decorated table filled with cartoon farm bird toys, farm bird sweet
                   food confectionaries and cute farm bird cake prop to elevate the farm event experience for your child.
                  </ul>
                  <br>
                  <img src="images/farms.jpg" alt="Code-01" width="60%" height="61%">
                  </div>  

                  <div class="columns1">
                   <ul class="price">
                   <li class="header">Theme 04</li>
                   <li class="grey">$80.00</li>
                   <h4 style="text-align:center">Beach Theme</h4>
                   Beach Theme<br>
                   <br>
                   Kalabunga dude, if you are in the mood for a summer good time then look no further then our funky beach style set up
                   that has a quirky beach wall poster, colourful rainbow balloons, beach stand displays, garden plants, beach toy props, summer mini food goodies
                   spread out on the table, realistic sand mat, island straw table and funky island cake prop.
                   </ul>
                   <br>
                   <img src="images/beaches.jpg" alt="Code-01" width="60%" height="40%">
                   </div>    
                </div>   

            <div class="row">
                  <div class="columns1">
                   <ul class="price">
                   <li class="header">Theme 05</li>
                   <li class="grey">$85.00</li>
                   <h4 style="text-align:center">Ariel Theme</h4>
                    Ariel Theme<br>
                   <br>
                   If you have ever wanted to be a mermaid, let's teleport you to Ariel land with this Disney popping theme using ocean
                   colour balloons, captivating Ariel wall poster, Ariel style props, mini ocean style stands, fragrant flower ornaments, realistic sand mat, mini
                   Ariel food goodies and stunning Ariel cake prop. Let's take your child's birthday deep down into the bubbly Disney ocean surrounded by Ariel the enchanting mermaid and
                   her ocean friends.
                  </ul>
                  <br>
                  <img src="images/disneya.jpg" alt="Code-01" width="60%" height="54.6%">
                  </div> 

                  <div class="columns1">
                   <ul class="price">
                   <li class="header">Theme 06</li>
                   <li class="grey">$90.00</li>
                   <h4 style="text-align:center">Disney Minnie Theme</h4>
                   Disney Minnie Theme<br>
                   <br>
                   Have a blast with this exciting Minnie set up and explore the world of Minnie with beautiful
                   Minnie toys, colourful balloons, a glowing door structure, Disney stands, adorable table to display the mini
                   Minnie food goodies, Minnie cake prop, small lantern props and enchanting cloud mat.
                  </ul>
                  <br>
                  <img src="images/minnie.jpg" alt="Code-01" width="60%" height="63.3%">
                  </div> 

                  <div class="columns1">
                   <ul class="price">
                   <li class="header">Theme 07</li>
                   <li class="grey">$95.00</li>
                   <h4 style="text-align:center">Spiderman Theme</h4>
                   Spiderman Theme<br>
                   <br>
                   Get your Spidey-senses on with the Spiderman theme, hang with Spiderman including a magnetising Spiderman wall
                   poster, Spiderman theme balloons, Spiderman mini stands, Spiderman mini food goodies, Spiderman toy props, fragrant bush plant ornaments
                   and Spiderman cake prop. This birthday set up will bring out the inner Spiderman out of any child.
                  </ul>
                  <br>
                  <img src="images/spiderman.jpg" alt="Code-01" width="60%" height="59%">
                  </div> 

                  <div class="columns1">
                   <ul class="price">
                   <li class="header">Theme 08</li>
                   <li class="grey">$95.00</li>
                   <h4 style="text-align:center">Soccer Theme</h4>
                   Soccer Theme<br>
                   <br>
                   Does your child have the football fever, we present to you a wild soccer theme that has a realistic soccer stadium wall poster,
                   realistic soccer champion trophy props, soccer grass mat, soccer club prop stands, long wooden table displaying mini food goodies, bush plant ornaments and stylish soccer cake prop.
                  </ul>
                  <br>
                  <img src="images/soccer.jpg" alt="Code-01" width="60%" height="61.1%">
                  </div> 
                </div>

            <div class="'row">
                  <div class="columns1">
                   <ul class="price">
                   <li class="header">Theme 09</li>
                   <li class="grey">$100.00</li>
                   <h4 style="text-align:center">Circus Theme</h4>
                   Circus Theme<br>
                   <br>
                   Take a trip to the circus with this wild theme, presenting you with a stylish circus background wall poster, special circus name lights panel,
                   circus colour balloons, decorative long table with mini food goodies and mini real popcorn cart machine, garden plants, flower ornaments, circus props and circus tent
                   cake prop.
                   </ul>
                   <br>
                   <img src="images/circusb.jpg" alt="Code-01" width="60%" height="100%">
                   </div> 

                  <div class="columns1">
                   <ul class="price">
                   <li class="header">Theme 10</li>
                   <li class="grey">$45.00</li>
                   <h4 style="text-align:center">Purple Theme</h4>
                   Purple Theme<br>
                   <br>
                   A purple style theme set up equipped with purple curtains, purple tables for displaying mini food goodies, garden plants, flower
                   oraments, purple balloons, purple letter balloons specifically for the birthday person, purple birthday streamers, purpler glitter and purple princess banner.
                  </ul>
                  <br>
                  <img src="images/purple.jpg" alt="Code-01" width="60%" height="100%">
                  </div>

                  <div class="columns1">
                   <ul class="price">
                   <li class="header">Theme 11</li>
                   <li class="grey">$45.00</li>
                   <h4 style="text-align:center">Gold Theme</h4>
                   Gold Theme<br>
                   <br>
                   A simplistic and stylish set up for those who love gold, presenting you with a stylish gold strips wall, gold balloons, hanging gold ring ornaments,
                   black table displaying mini food goodies, scented candles and gold birthday streamers.
                  </ul>
                  <br>
                  <img src="images/gold.jpg" alt="Code-01" width="60%" height="100%">
                  </div>

                  <div class="columns1">
                   <ul class="price">
                   <li class="header">Theme 12</li>
                   <li class="grey">$85.00</li>
                   <h4 style="text-align:center">Youthful Flowers Theme</h4>
                   Youthful Flower Theme<br>
                   <br>
                   Sticking to a young and vibrant vibe for an adult theme birthday, we have gone with the arch wall structure, hanging
                   small and large vibrant colour balloons, decorative flower ornaments spread out, stands for mini food goodies, ground spotlights, fashionable white chair and flower cake prop.
                  </ul>
                  <br>
                  <img src="images/flower.jpg" alt="Code-01" width="60%" height="100%">
                  </div>
                </div>

                <div class="row">
                  <div class="columns1">
                   <ul class="price">
                   <li class="header">Theme 13</li>
                   <li class="grey">$90.00</li>
                   <h4 style="text-align:center">Pink Theme</h4>
                   Pink Theme<br>
                   <br>
                   Let us dazzle you with this fantastic striking pink theme, showcasing hanging bright colour balloons, pretty pink wall panels, 
                   decorative stands, cute flower props, small teddy bear toy, purple mat, mini food goodies and white cake prop.
                   </ul>
                   <br>
                   <img src="images/babyshower.jpg" alt="Code-01" width="60%" height="81%">
                   </div>

                  <div class="columns1">
                   <ul class="price">
                   <li class="header">Theme 14</li>
                   <li class="grey">$85.00</li>
                   <h4 style="text-align:center">Alternative Pink Theme</h4>
                   Alternative Pink Theme<br>
                   <br>
                   An elegant tone of pink texture theme with stylish name wall poster, beautiful pink and bright tone balloons, cute
                   teddy bear cardboard statue, pink chair prop, colorful lanterns, stand for the stunning teddy bear cake prop and cute birthday name holder.
                   </ul>
                   <br>
                   <img src="images/babyshower.png" alt="Code-01" width="60%" height="81%">
                   </div>
                </div>
            
        
                
<footer>
 © 2023 Top Event Managers. All Rights Reserved.
</footer>

        </body>
</html>   