<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
	<link rel = "stylesheet" type = "text/css" href = "stylesheets/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<style>
	body{
	background-image: url('images/cake7.jpg');
	}
	h1{
		margin: 0;
		padding: 0 0 20px;
		text-align: center;
	}
	
	</style>
  </head>
		<body>
			
				<div class="nav">
				<a class="active"><a href=/ class="text-uppercase font-weight-bold">Home</a>
				<a href= "usergallery">Gallery</a>
				<a href="userservices">Services</a>
				<a href="Booking">Booking</a>
				<a href="userlogin">Login</a>
				<a href="contactus">Contact Us</a>
				<a href="userfeedback">Feedback</a>
				<a href="login"class = "btnn" >Logout</a>
				<h3><span>'User Login'</span></h3>
				</div>

		<div class="container8">
		<form action="/register" method="POST">
	  		<h1>Register Here</h1>
      		<label for="first_name"><br><b>First Name</b></label>
      		<input type="text" placeholder="Enter First name" name="first_name" required>

      		<label for="last_name"><br><b>Last Name</b></label>
      		<input type="text" placeholder="Enter Last Name" name="last_name" required>

      		<label for="email_id"><br><b>Email</b></label>
      		<input type="text" placeholder="Enter Email" name="email_id" required>

      		<label for="user_name"><br><b>Username</b></label>
      		<input type="text" placeholder="Enter Username" name="user_name" required>	 
	  
      		<label for="passw"><br><b>Password</b></label>
      		<input type="text" placeholder="Enter Password" name="passw" required>
		
	  		<br>
      		<button type="submit">Register</button>

			</form>  
    		</div>
		
<footer>
	© 2023 Top Event Managers. All Rights Reserved.
</footer>

	</body>
</html>