<!DOCTYPE html>
<html>
  <head>
    <title>Catering</title>
	<link rel = "stylesheet" type = "text/css" href = "stylesheets/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
		<body>

				<div class="nav">
				<a class="active"><a href=/ class="text-uppercase font-weight-bold">Home</a>
				<a href="usergallery">Gallery</a>
				<a href="userservices">Services</a>
				<a href="Booking">Booking</a>
				<a href="userlogin">Login</a>
				<a href="contactus">Contact Us</a>
				<a href="userfeedback">Feedback</a>
				<a href="login"class = "btnn" >Logout</a>
        <h3><span>'User Login'</span></h3>
				</div>
                <br><br><br>
                <h2 style="text-align:center">OUR MENUS</h2>
                <p2>We have conjure mouth watering party food packages to satisfy any grand celebration for children, gender reveals, adult birthdays, and anniversaries. Every
                  package is crafted with sweet and savoury choices and curated popular NZ fan favorites to make the food really feel homegrown. Nothing beats a lively party 
                  atmosphere with good quality catering food we are sure to deliver to everyone.
                  </p2>

          <div class = "container6">
            <div class="columns">
            <ul class="price">
            <li class="header">Menu 01</li>
            <li class="grey">$ 85.00</li>
            <h4>Savoury</h4>
            <li>Mini Hamburger Sliders</li>
            <li>Ham and Pineapple Pizza Muffins</li>
            <li>Honey Chicken Nibbles</li>
            <li>Mac n Cheese with Bacon Cups</li>
            <li>Chicken Sausages</li>
            <li>Mini Quiches</li>
            <li>Spring Rolls</li>
            <li>Dumplings</li>
            
            <img src="images/burger.jpg" alt="Code-01" width="257" height="250">

            <h4>Sweet</h4>
            <li>Coco Pop Slices</li>
            <li>Jelly Boats</li>
            <li>Fairy Bread</li>
            <li>Fairy Cakes</li>
            <li>Sheep theme chocolate muffins</li>
            <li>Lollie Cake</li>
            <li>Rocky Road Bites</li>
            <li>Caramel Slices</li>
           
            <img src="images/lolly.jpg" alt="Code-01" width="257" height="249">

            </ul>
            </div>
            
            <div class="columns">
            <ul class="price">
            <li class="header">Menu 02</li>
            <li class="grey">$ 95.00</li>
            <h4>Savoury</h4>
            <li>Herb Chicken Wings</li>
            <li>Chicken Nuggets</li>
            <li>Beef Tacos</li>
            <li>Fish Fingers</li>
            <li>Samosas</li>
            <li>Mini Chicken Buns</li>
            <li>Big Mac Mini Pizzas</li>
            <li>Mini BLT Sandwiches</li>
            
            <img src="images/tacos.jpg" alt="Code-01" width="257" height="250">

            <h4>Sweet</h4>
            <li>Coconut Ice</li>
            <li>Lamingtons</li>
            <li>Fruit Kebabs</li>
            <li>Meringues</li>
            <li>Brandy Snaps</li>
            <li>Ice Cream Sundae</li>
            <li>Fruit Salad Ice Cream Cones</li>
            <li>Chocolate Peanut Balls</li>
        
            <img src="images/sundae.jpg" alt="Code-01" width="257" height="250">

            </ul>
            </div>
            
            <div class="columns">
            <ul class="price">
            <li class="header">Menu 03</li>
            <li class="grey">$ 105.00</li>
            <h4>Savoury</h4>
            <li>Soy and Garlic Chicken Wings</li>
            <li>Herb Potatoes</li>
            <li>Mezze (Pita bread)</li>
            <li>Mixed Mini Sushi</li>
            <li>Smoked Salmon Rolls</li>
            <li>Vegetable Sticks with hummus</li>
            <li>Grissini Sticks</li>
            <li>Mini Fish Quiches</li>
            
            <img src="images/sushi.jpg" alt="Code-01" width="258" height="250">

            <h4>Sweet</h4>
            <li>Mini Brownies</li>
            <li>Marshmallow Slices</li>
            <li>Fruit Fundue with dipping sauces</li>
            <li>Toffee Apples</li>
            <li>Spotty Shakes with marshmallows</li>
            <li>Homemade Fudge Cookies</li>
            <li>Jam Donut Buns</li>
            <li>Banana Split</li>
            
            <img src="images/brownie.jpg" alt="Code-01" width="258" height="250">

            </ul>
            </div>

            <div class="columns">
            <ul class="price">
            <li class="header">Menu 04</li>
            <li class="grey">$ 110.00</li>
            <h4>Savoury</h4>
            <li>Chicken and Seafood sushi</li>
            <li>Maki Rolls</li>
            <li>Nigiri</li>
            <li>Seaweed Salad</li>
            <li>Pickled Vegetables</li>
            <li>Miso Soup</li>
            <li>Katsu Chicken Rolls</li>
            <li>Seafood Dumplings</li>
            
            <img src="images/maki.jpg" alt="Code-01" width="257" height="250">

            <h4>Sweet</h4>
            <li>Matcha Swiss Rolls</li>
            <li>Japanese Fruit Sandwiches</li>
            <li>Dango (Sweet Rice Dumplings)</li>
            <li>Fresh Fruit</li>
            <li>Chocolate dipped strawberries</li>
            <li>Custard Sponge Muffins</li>
            <li>Red Bean Rolls</li>
            <li>Sweet Red Bean Dumplings</li>
           
            <img src="images/matcha.jpg" alt="Code-01" width="257" height="250">

            </ul>
            </div>
            
            <div class="columns">
            <ul class="price">
            <li class="header">Menu 05</li>
            <li class="grey">$ 95.00</li>
            <h4>Savoury</h4>
            <li>Beef Briskets</li>
            <li>Pulled Pork</li>
            <li>Grilled Chicken</li>
            <li>Artisan Sausages</li>
            <li>Barbecue-glazed ribs</li>
            <li>Freshly Baked Breads</li>
            <li>Assortment of sauces</li>
            <li>Chicken/Beef Skewers</li>
            
            <img src="images/brisket.jpg" alt="Code-01" width="257" height="250">

            <h4>Sweet</h4>
            <li>Apple Crumble</li>
            <li>Neopolitan Icecream</li>
            <li>Custard Slices</li>
            <li>Fresh Fruit</li>
            <li>Chocolate Strawberries</li>
            <li>Strawberry Lamingtons</li>
            <li>Ginger Donuts</li>
            <li>Sweet Raisin Cookies</li>
          
            <img src="images/apple.jpg" alt="Code-01" width="257" height="250">

            </ul>
            </div>
            
            <div class="columns">
            <ul class="price">
            <li class="header">Menu 06</li>
            <li class="grey">$ 90.00</li>
            <h4>Savoury</h4>
            <li>Finely cured and braised meats</li>
            <li>Mozzarella</li>
            <li>Ricotta</li>
            <li>Olives</li>
            <li>Seasonal Vegetables</li>
            <li>Pesto</li>
            <li>Crostini Sticks</li>
            <li>Freshly Baked Ciabatta Bread</li>
            
            <img src="images/curemeat.jpg" alt="Code-01" width="257" height="250">

            <h4>Sweet</h4>
            <li>Homemade Pavlova</li>
            <li>Marshmallow Slices</li>
            <li>Pineapple Sponge Bread</li>
            <li>Neopolitan Icecream</li>
            <li>Fresh Fruit</li>
            <li>Berry Muffins</li>
            <li>Lemon Tarts</li>
            <li>Sweet Raisin Pudding</li>
            
            <img src="images/pavlova.jpg" alt="Code-01" width="257" height="250">

            </ul>		
            </div>
            
            <div class="columns">
            <ul class="price">
            <li class="header">Menu 07</li>
            <li class="grey">$ 130.00</li>
            <h4>Savoury</h4>
            <li>Roast beef with vegetables</li>
            <li>Fresh salmon salad</li>
            <li>Aracini Balls</li>
            <li>Lamb Shanks</li>
            <li>Mushroom risotto</li>
            <li>Seared Scallops with pumpkin puree</li>
            <li>Sweet Potato Rings</li>
            <li>Barbecue style meatballs</li>
            
            <img src="images/meatballs.jpg" alt="Code-01" width="258" height="250">

            <h4>Sweet</h4>
            <li>Three Layer Mango Pudding</li>
            <li>Blueberry Muffins</li>
            <li>Chocolate Strawberries</li>
            <li>Fresh Fruit</li>
            <li>Neopolitan Icecream</li>
            <li>Mixed Berry Tarts</li>
            <li>Homemade Peach Cookies</li>
            <li>Marshmallow Slices</li>
            
            <img src="images/mango.jpg" alt="Code-01" width="258" height="250">

            </ul>		
            </div>
            
            <div class="columns">
            <ul class="price">
            <li class="header">Menu 08</li>
            <li class="grey">$ 120.00</li>
            <h4>Savoury</h4>
            <li>Bluff Oysters (10 pieces)</li>
            <li>Mussell Pastry Tarts</li>
            <li>Prawn Cocktails</li>
            <li>Mini Crab Cheese Rolls</li>
            <li>Creamy Hoki Fish Cakes</li>
            <li>Pumpkin Salad with garden dressing</li>
            <li>Pineapple and fennel salad</li>
            <li>Fresh Garlic Bread</li>
            
            <img src="images/oysters.jpg" alt="Code-01" width="257" height="250">

            <h4>Sweet</h4>
            <li>Tiramisu</li>
            <li>Sweet Date Pudding</li>
            <li>Banana Slices</li>
            <li>Mixed Berry Sponge Cake</li>
            <li>Fresh Fruit Slices</li>
            <li>Aftermint cookies</li>
            <li>Chocolate Strawberries</li>
            <li>Rhubarb Tarts</li>
          
            <img src="images/tiramisu.jpg" alt="Code-01" width="257" height="250">

            </ul>		
            </div>
            
            <div class="columns">
            <ul class="price">
            <li class="header">Menu 09</li>
            <li class="grey">$ 110.00</li>
            <h4>Savoury</h4>
            <li>Chicken curry with naan bread</li>
            <li>Lamb Vindaloo</li>
            <li>Chicken tikka skewers</li>
            <li>Samosas</li>
            <li>Roti with dipping sauces</li>
            <li>Raita Yoghurt Salad</li>
            <li>Biryani Rice Dish</li>
            <li>Fresh vegetables salad with balsamic dressing</li>
            
            <img src="images/curry.jpg" alt="Code-01" width="257" height="250">

            <h4>Sweet</h4>
            <li>Rich ras malai cheesecake</li>
            <li>Fruit Slices</li>
            <li>Mango Icecream</li>
            <li>Sweet Ginger Cookies</li>
            <li>Fruit Tarts</li>
            <li>Faluda drink with berry icecream</li>
            <li>Sweet Fruit Jelly</li>
            <li>Chocolate Strawberries</li>
            
            <img src="images/fruit.jpg" alt="Code-01" width="257" height="250">

            </ul>		
            </div>
     </div>       

    </body>
</html>           