<!DOCTYPE html>
<html>
  <head>
    <title>Top Event Managers</title>
	<link rel = "stylesheet" type = "text/css" href = "stylesheets/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
		<body>

				<div class="nav">
				<a class="active"><a href=/ class="text-uppercase font-weight-bold">Home</a>
				<a href= "gallery">Gallery</a>
				<a href="services">Services</a>
				<a href="booknow">Booking</a>
				<a href="login">Login</a>
				<a href="contactus">Contact Us</a>
				</div>

				<div class="container">
				<img src="images/bg.jpg" width="100%" height= "600px">
				<div class="centered">Top Event Managers</div>
				</div>
			
				<div class="main">
					 <h1>Thanks for seeking us out</h1>
					 <h3>We're Lemongrass Productions. We like to keep things fresh. We curate small-scale events </h3>
					 <h3>and continue to thrive in making every event sparkle. We bring an imaginative, passionate & </h3> 
					 <h3>innovative approach to all the work we do. ​We are here to help bring your dream to life. </h3>
					 <br>
					 <br>
				
		<div class = "container1">
			<div class = "gallery">
				<img src = "images/fun.jpg">
				<div class = "desc">Be in the moment</div>
			</div>
			<div class = "gallery">
				<img src = "images/right.jpg">
				<div class = "desc">Do the right thing</div>
			</div>
			<div class = "gallery">
				<img src = "images/trust.jpg">
				<div class = "desc">One Team</div>
			</div>


		</div>


		</div>
 
</div>

<footer>
	© 2023 Top Event Managers. All Rights Reserved.
</footer>
	</body>
</html>
