<!DOCTYPE html>
<html>
  <head>
    <title>Book Now</title>
	<link rel = "stylesheet" type = "text/css" href = "stylesheets/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
		<body>

				<div class="nav">
				<a class="active"><a href=/ class="text-uppercase font-weight-bold">Home</a>
				<a href="gallery">Gallery</a>
				<a href="services">Services</a>
				<a href="booknow">Booking</a>
				<a href="login">Login</a>
				<a href="contactus">Contact Us</a>
				</div>

				<div class="container">
				<img src="images/book2.jpg" width="100%" height= "80%";>
				<div class="Leftc">Thanks for visiting us!</div>
				<a href="login"class = "button2" >Book Now</a>
				</div>

<footer>
	© 2023 Top Event Managers. All Rights Reserved.
</footer>
	</body>
</html>
