<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
	<link rel = "stylesheet" type = "text/css" href = "stylesheets/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<style>
	body{
	background-image: url('images/cake1.jpg');
	}
	h1{
		margin: 0;
		padding: 0 0 20px;
		text-align: center;
	}
	
	</style>
  </head>
		<body>
			
				<div class="nav">
				<a class="active"><a href=/ class="text-uppercase font-weight-bold">Home</a>
				<a href="gallery">Gallery</a>
				<a href="services">Services</a>
				<a href="booknow">Booking</a>
				<a href="login">Login</a>
				<a href="contactus">Contact Us</a>
				</div>


		<div class="container8">
		<form id = "loginform"action="/login" method="POST">
	  <h1>Login Here</h1>
      <label for="user_name"><br><b>Username (Email)</b></label>
      <input type="text" placeholder="Enter Username" name="user_name" required>

      <label for="passw"><br><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="passw" required><br>
      
	  <button type="submit">Login</button>
	  <br>
	  <br>
	  <a href = "register"> Don't have an account? Register</a>
	  	
	</form>  
    </div>
		
<footer>
	© 2023 Top Event Managers. All Rights Reserved.
</footer>
	</body>
</html>

