<!DOCTYPE html>
<html>
  <head>
    <title>Cakes</title>
	<link rel = "stylesheet" type = "text/css" href = "stylesheets/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
		<body>

				<div class="nav">
				<a class="active"><a href=/ class="text-uppercase font-weight-bold">Home</a>
				<a href="usergallery">Gallery</a>
				<a href="userservices">Services</a>
				<a href="Booking">Booking</a>
				<a href="userlogin">Login</a>
                <a href="contactus">Contact Us</a>
                <a href="userfeedback">Feedback</a>
                <a href="login"class = "btnn" >Logout</a>
				<h3><span>'User Login'</span></h3>
				</div>
                <br>
                <br>
                <br>

                <h2 style="text-align:center">CAKES</h2>
                <p2>Our range of specialty cakes take inspiration from nostalgia of childhood memories with modern fusion of exciting trends to create delectable, decandent and stylish cake designs that resonate with our 
                guests. Whether it is a gender reveal or birthday celebration, there is a great fulfillment in presenting our cakes for young and adult customers to be instantly transported to a place where the aroma and appealing design of our specialised cakes will
                make anyone feel like they are in a state of pure bliss. Try our delicious cakes, and we will make sure to leave a positive lasting impression for your special day.
                </p2>
                <div class="columns">
                    <ul class="price">
                    <li class="header">Cake 01</li>
                    <li class="grey">$75.00</li>
                    <h4 style="text-align:center">Triple Chocolate Platform Cake</h4>
                </ul>
                </div>

                <img src="images/triplechoccake.jpg" alt="Code-01" width="40%" height="40%">
                <br><br>
                <div class="columns">
                    <ul class="price">
                    <li class="header">Cake 02</li>
                    <li class="grey">$60.00</li>
                    <h4 style="text-align:center">Chocolate Jaffa Cake</h4>
                </ul>
                </div>
                <img src="images/jaffacake.jpg" alt="Code-01" width="40%" height="40%">
                <br><br>
                <div class="columns">
                    <ul class="price">
                    <li class="header">Cake 03</li>
                    <li class="grey">$55.00</li>
                    <h4 style="text-align:center">Hokey Pokey Chocolate Cake</h4> 
                </ul>
                </div>   
                <img src="images/hokeypokey.jpg" alt="Code-01" width="40%" height=450%">
                <br><br>
                <div class="columns">
                    <ul class="price">
                    <li class="header">Cake 04</li>
                    <li class="grey">$65.00</li>
                    <h4 style="text-align:center">Fruitastic Cake</h4>
                </ul>
                </div>
                <img src="images/fruitastic.jpg" alt="Code-01" width="40%" height="40%">
                <br><br>
                <div class="columns">
                    <ul class="price">
                    <li class="header">Cake 05</li>
                    <li class="grey">$75.00</li>
                    <h4 style="text-align:center">Banana Cake</h4>    
                </ul>
                </div>
                <img src="images/bananacake.jpg" alt="Code-01" width="40%" height="40%">
                <br><br>
                <div class="columns">
                    <ul class="price">
                    <li class="header">Cake 06</li>
                    <li class="grey">$55.00</li>
                    <h4 style="text-align:center">Red Velvet Cake</h4>
                </ul>
                </div>
                <img src="images/velvet.jpg" alt="Code-01" width="40%" height="40%">
                <br><br>
                <div class="columns">
                    <ul class="price">
                    <li class="header">Cake 07</li>
                    <li class="grey">$ 60.00</li>
                    <h4 style="text-align:center">Classic Carrot Cake</h4>    
                </ul>
                </div>
                <img src="images/carrotcake.jpg" alt="Code-01" width="40%" height="40%">
                <br><br>    
                <div class="columns">
                    <ul class="price">
                    <li class="header">Cake 08</li>
                    <li class="grey">$59.00</li>
                    <h4 style="text-align:center">Strawberry Cake</h4>
                </ul>
                </div>
                <img src="images/strawberry.jpg" alt="Code-01" width="40%" height="40%">
                <br><br>
                <div class="columns">
                    <ul class="price">
                    <li class="header">Cake 09</li>
                    <li class="grey">$85.00</li>
                    <h4 style="text-align:center">Princess Cake</h4>   
                </ul>
                </div>
                <img src="images/cake1.jpg" alt="Code-01" width="40%" height="40%">
                <br><br> 
                <div class="columns">  
                    <ul class="price">
                    <li class="header">Cake 10</li>    
                    <li class="grey">$80</li>    
                    <h4 style="text-align:center">Berry Forest Cake</h4>   
                </ul>
                </div>
                <img src="images/berrycake.jpg" alt="Code-01" width="40%" height="40%">
                <br><br>
                <div class="columns">
                    <ul class="price">
                    <li class="header">Cake 11</li>
                     <li class="grey">$78.00</li>
                    <h4 style="text-align:center">Cookies and Cream Cake</h4>  
                </ul>
                </div>
                <img src="images/oreo.jpg" alt="Code-01" width="40%" height="40%">
                <br><br>      
                <div class="columns">
                    <ul class="price">
                    <li class="header">Cake 12</li>
                    <li class="grey">$55.00</li>
                    <h4 style="text-align:center">Lemon Menrigue Cake</h4>
                </ul>
                </div>
                <img src="images/lemoncake.jpg" alt="Code-01" width="40%" height="40%">
                <br><br>
                
<footer>
 © 2023 Top Event Managers. All Rights Reserved.
</footer>
        </body>
</html>                    
                